html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
}
body.lock {
  overflow: hidden;
}

[class*=__container] {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 768px) {
  [class*=__container] {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 690px) {
  [class*=__container] {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@font-face {
  font-family: "Kyiv Type Sans";
  src: url("../fonts/Dmitry Rastvortsev - Kyiv_Type Sans.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Kyiv Type Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Kyiv Type Sans", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  font-weight: 500;
  line-height: 20px;
  color: #182F4F;
  padding-top: 32px;
}
.header__main {
  width: 100%;
  display: flex;
}
.header__logo {
  display: flex;
  align-items: end;
}
.header__menu {
  display: flex;
  width: 100%;
}
.logo__img {
  width: 55px;
  height: 35px;
}
.logo__text {
  width: 153px;
  margin-left: 6px;
  color: #182F4F;
}

.menu__body {
  display: flex;
  align-items: end;
  width: 50%;
}
.menu__list {
  display: flex;
  align-items: center;
  width: 100%;
}
.menu__item {
  margin-left: 25%;
}
.menu__link {
  color: #182F4F;
}

.print {
  padding-top: 32px;
}
.print__container {
  position: relative;
}
.print__content {
  display: flex;
  flex-direction: column;
}
.print__content.left {
  width: 57%;
}
.print__content.right {
  width: 43%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: -100px;
}
.print__links {
  display: flex;
  column-gap: 30px;
}
.print__link {
  position: relative;
  padding: 80px 150px 30px 30px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #FDFDFD;
}
.print__link::after {
  content: url("../img/ArrowUpRight.svg");
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 35px;
  right: 55px;
}
.print__link.link__bk {
  background: #E5013A;
}
.print__link.link__bk::before {
  content: url(../img/bkPic.png);
  display: block;
  width: 135px;
  height: 175px;
  position: absolute;
  top: -120px;
}
.print__link.link__vs {
  background: #03ADC6;
}
.print__link.link__vs::before {
  content: url(../img/vsPic.png);
  display: block;
  width: 135px;
  height: 175px;
  position: absolute;
  top: -120px;
}
.print__price {
  position: relative;
  z-index: 1;
  margin-top: 90px;
}
.print__price::before {
  content: url("../img/priceLinkBg.png");
  position: absolute;
  left: -120px;
  top: -140px;
  z-index: 0;
}
.print__price_link {
  position: relative;
  display: block;
  z-index: 10;
  transform: matrix(0.99, -0.11, 0.1, 0.99, 0, 0);
  line-height: 48%;
  letter-spacing: 0.03em;
  color: #FDFDFD;
}
.print__price_link::after {
  content: url("../img/ArrowUpRight.svg");
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -10px;
  right: -100px;
  z-index: 1;
}
.print__image {
  width: 90%;
  right: 0;
  top: -100px;
}
.print__days {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  margin-top: 56px;
}
.print__hours {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  margin-top: 4px;
}
.print__title {
  font-weight: 700;
  font-size: 75px;
  line-height: 90px;
  color: #182F4F;
}
.print__title span {
  margin-left: 40px;
}
.print__subtitle {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 150px;
  font-weight: 350;
  line-height: 30px;
  color: rgba(24, 47, 79, 0.8);
}