.footer {
    
    background: #182F4F;
    padding-top: 64px;
    padding-bottom: 64px;
    // .footer__container

    &__container {
        display: flex;
        flex-direction: column;
        & .logo__text {
            color: #FDFDFD;
        }
    }

    // .footer__rights

    &__rights {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;

        & a {
            text-decoration: underline;
        }
    }

    &__rights :where(p, a) {
        color: #98A2B3;

        font-weight: 350;
        font-size: 18px;
        line-height: 24px;
    }
}


