.other {
    padding-top: 50px;
    padding-bottom: 65px;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        & .section__title {
            width: 75%;
        }
    }
}

.other {

    &__content {
        position: relative;
        width: 880px;
        height: 535px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: last baseline;
        margin-top: 50px;
    }

    &__img {
        position: relative;
    }

    &__card {
        position: absolute;
        width: 340px;
        padding: 40px;
        background: #E49D8B;
        border-radius: 40px;
        z-index: -1;

        &.first {
            left: 60px;
            bottom: 250px;
            padding-right: 80px;
        }

        &.second {
            left: 430px;
            bottom: 310px;
            padding-bottom: 80px;
        }
        &.third {
            left: 0;
            bottom: 25px;
            padding-right: 80px;
        }
        &.fourth {
            left: 543px;
            bottom: 93px;
            padding-left: 80px;
        }

        &_title {
                font-weight: 350;
                font-size: 20px;
                line-height: 30px;        
                color: #FDFDFD;
                margin-bottom: 4px;
            }

        &_col {
            width: 50%;
            display: flex;
            flex-direction: column;
            column-gap: 27px;
            & span {
                margin-top: 12px;
                font-weight: 350;
font-size: 18px;
line-height: 12px;
color: #000000;
            }
        }
    }
}

.col_wrapper {
    display: flex;
}

