.print {
    
    padding-top: 32px;

    &__container {
        position: relative;

        @media (max-width:360px) {
            flex-direction: column-reverse;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &.left {
            width: 57%;
        }

        &.right {
            width: 43%;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            right: 0;
            top: -100px;            
        }

        @media (max-width:360px) {
            &.left {
                width: 100%;
            }
    
            &.right {
                width: 100%;
                align-items: center;
                justify-content: space-between;      
                position: static;                    
            }
        }

    }

    &__links {
        display: flex;
        column-gap: 30px;
    }

    &__link {
        position: relative;
        padding: 80px 150px 30px 30px;
        border-radius: 40px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #FDFDFD;

        @media (max-width:360px) {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                padding: 27px 12px 12px 12px;
            border-radius: 15px;
                letter-spacing: 0.03em;
            }

        &::after {
            content: url("../img/ArrowUpRight.svg");
            display: block;
            width: 25px;
            height: 25px;
            position: absolute;
            bottom: 35px;
            right: 55px;
        }

        &.link__bk {
            background: #E5013A;

            &::before {
                content: url(../img/bkPic.png);
                display: block;
                width: 135px;
                height: 175px;
                position: absolute;
                top: -120px;
            }
        }

        &.link__vs {
            background: #03ADC6;

            &::before {
                content: url(../img/vsPic.png);
                display: block;
                width: 135px;
                height: 175px;
                position: absolute;
                top: -120px;
            }
        }
        
    }

    &__price {        
        position: relative;
        z-index: 1;
        margin-top: 90px;
        

        &::before {
            content: url("../img/priceLinkBg.png");
            position: absolute;
            left: -120px;
            top: -140px;
            z-index: 0;

            @media (max-width:360px) {
                display: none;
                width: 190px;
            }

            
        }
        

        &_link {
            position: relative;
            display: block;
            z-index: 10;
            transform: matrix(0.99, -0.11, 0.1, 0.99, 0, 0);            
            line-height: 48%;
            letter-spacing: 0.03em;
            color: #FDFDFD;
            margin-right: 60px;

            &::after {
                content: url("../img/ArrowUpRight.svg");
                display: block;
                width: 25px;
                height: 25px;
                position: absolute;
                bottom: -10px;
                right: -100px;
                z-index: 1;
            }
        }
    }

    &__image {
        width: 90%;
        right: 0;
        top: -100px;

        @media (max-width:360px) {
            display: none;
        }
    }

    &__image-small {
        display: none;

        @media (max-width:360px) {
            display: block;
            position: relative;
        }
    }

    &__schedule {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width:360px) {
            padding: 4px 8px;
            width: 20%;
            background: #FFFFFF;
border-radius: 8px;
        position: absolute;
        right: 21%;
        top: 10.4%;
        }
    }

    &__days {
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        margin-top: 56px;

        @media (max-width:360px) {
            margin-top: 0;
            font-size: 16px;
line-height: 16px;
        }

    }

    &__hours {
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        margin-top: 4px;

        @media (max-width:360px) {
            font-size: 8px;
            line-height: 8px;
        }
    }

    &__title {
        position: relative;
        font-weight: 700;
        font-size: 80px;
        line-height: 90px;
        color: #182F4F;

        @media (max-width:360px) {
            width: 75%;
            margin: 0 auto;
            font-size: 32px;
line-height: 41px;
        }
        

        &::after {
            content:"";  
            background-image: url("../img/cat.svg"); 
            display: block;         
            position: absolute;            
            bottom: -70px;
            right: 60px;

            @media (max-width:360px) {
                background-size: 37px 37px;
                width: 37px;
                height: 37px;
                bottom: -20px;
                right: 8px;
            }
        }
        

        & span {
            position: relative;
            padding-left: 40px;
            color: #FDFDFD; 

            @media (max-width:360px) {
                line-height: 37px;
                padding-left: 10px;
            }

            &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background-image: url('../img/btnBG.png');
                    background-repeat: no-repeat;
                    
                    width: 411px;
                    height: 350px;
                    z-index: -1;
                    top: -52px;
                    left: -10px;

                    @media (max-width:360px) {
                            background-size: 176px 82px;
                            width: 176px;
                            height: 70px;
                            top: -18px;
                            left: -10px;
                        }
                }
        }
    }

    &__subtitle {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 150px;
        font-weight: 350;
        line-height: 30px;
        color: rgba(24, 47, 79, 0.8);

        @media (max-width:360px) {
                width: 100%;
                font-weight: 350;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
            }
    }
}